<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
  
  <main>
    <h1><%= title %></h1>
    <a href="flights/new">ADD Flight</a>
    <a href="flights">ALL Flights</a>
  </main>
 
  <%- include("./partials/footer") %>
  

